* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCF076;
}

header {
  height: 60px;
  text-align: center;
}

#greeting {
  color: #F56060;
  text-transform: uppercase;
  line-height: 60px;
}

main {
  height: calc(100vh - 60px);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.box {
  width: 500px;
  height: 100%;
  padding: 20px;
  background-color: #76A6EF;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 24px;
}
.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

span {
  color: #F56060;
}
